<template name="login">
    <div class="middle-box text-center loginscreen animated fadeInDown" style="padding-top: 0px;">
        <div>
            <div>
                <h1 class="logo-name">KD</h1>
            </div>
            <h3>Welcome</h3>
            <p>Login in below using your favorite service.</p>
            {{#if createUser}}
            <form class="m-t" id="create-user" role="form">
                <div class="form-group">
                    <input type="text" name="firstname" class="form-control" placeholder="First Name" required="">
                </div>
                <div class="form-group">
                    <input type="text" name="lastname" class="form-control" placeholder="Last Name" required="">
                </div>
                <div class="form-group">
                    <input type="email" name="email" class="form-control" placeholder="Email" required="">
                </div>
                <div class="form-group">
                    <input type="password" name="password" class="form-control" placeholder="Password" required="">
                </div>
                <a class="forgot-password"><small>Forgot password?</small></a>
                <p></p>
                <button type="submit" class="btn btn-primary block full-width m-b">Create an account</button>
                <button type="button" class="btn btn-secondary block full-width m-b btn-back">Back</button>
            </form>
            {{/if}}
            {{#if resetPassword}}
            <form class="m-t" id="reset-password" role="form" action="">
                <div class="form-group">
                    <input type="email" name="email" class="form-control" placeholder="Email" required="">
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b btn-password-reset">Send Reset Instructions</button>
                <button type="button" class="btn btn-secondary block full-width m-b btn-back">Back</button>
            </form>
            {{/if}}
            {{#if login}}
            <form class="m-t" id="login" role="form" action="">
                <div class="form-group">
                    <input type="email" name="email" class="form-control" placeholder="Email" required="">
                </div>
                <div class="form-group">
                    <input type="password" name="password" class="form-control" placeholder="Password" required="">
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b btn-login">Login</button>
            </form>
            <form class="m-t frm-google" role="form" action="{{pathFor route='dashboard'}}">
                <a class="forgot-password"><small>Forgot password?</small></a>
                <p class="text-muted text-center"><small>Don't have an account?</small></p>
                <button type="button" class="btn btn-primary block full-width m-b btn-create-account">Create an account</button>
                <hr class="sign-in-line">
                <button type="button" class="btn btn-social-login btn-google"><i class="fa fa-google"></i> Sign in with Google</button>
                <p></p>
                <button type="button" class="btn btn-social-login btn-facebook"><i class="fa fa-facebook"></i> Sign in with Facebook</button>
                <p></p>
                <button type="button" class="btn btn-social-login btn-twitter"><i class="fa fa-twitter"></i> Sign in with Twitter</button>
            </form>
            {{/if}}
            <p class="m-t"> <small>Kelsey &copy; 2015</small> </p>
            <br />
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p>&nbsp;</p>
        </div>
    </div>
</template>
